<!DOCTYPE html>
<html xmlns="https://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
    xmlns:layout="https://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{LayoutPadrao}">

<head>
    <title>DAE Várzea Grande</title>
</head>

<body>
    <section layout:fragment="conteudo">
        <main>
            <section class="py-5 text-center container">
                <div class="row py-lg-5">
                    <div class="col-lg-8 col-md-12 mx-auto">
                        <h1 class="fw-light">Bem-Vindo</h1>
                        <p class="lead text-muted">Página oficial do Departamento de Água e Esgoto de Várzea
                            Grande.<br>Vamos trabalhar juntos para tornar Várzea Grande uma cidade mais sustentável.</p>
                        <p>
                            <a href="#" class="btn btn-primary my-2">Saiba mais</a>
                            <a href="#" class="btn btn-secondary my-2">Junte-se a nós</a>
                        </p>
                    </div>
                </div>
            </section>

            <div class="album py-5 bg-light">
                <div class="container">

                    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                        <div class="col">
                            <div class="card shadow-sm">
                                <img src="/images/noticias/noticia-principal.jpg" width="100%" height="225">
                                <div class="card-body">
                                    <p class="card-text">DAE-VG realiza mutirão para regularização de água e
                                        renegociação de dívidas no bairro Alameda</p>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="btn-group">
                                            <button type="button"
                                                class="btn btn-sm btn-outline-secondary">Visualizar</button>
                                            <button type="button"
                                                class="btn btn-sm btn-outline-secondary">Comentar</button>
                                        </div>
                                        <small class="text-muted">15 set às 21:22</small>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col">
                            <div class="card shadow-sm">
                                <img src="/images/noticias/noticia1.jpg" width="100%" height="225">
                                <div class="card-body">
                                    <p class="card-text">DAE-VG realiza Semana Interna de Prevenção de Acidentes de Trabalho</p>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="btn-group">
                                            <button type="button"
                                                class="btn btn-sm btn-outline-secondary">Visualizar</button>
                                            <button type="button"
                                                class="btn btn-sm btn-outline-secondary">Comentar</button>
                                        </div>
                                        <small class="text-muted">22 ago às 10:20</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card shadow-sm">
                                <img src="/images/noticias/noticia2.jpg" width="100%" height="225">
                                <div class="card-body">
                                    <p class="card-text">DAE-VG recebe ações de saúde em comemoração ao Dia do Homem</p>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="btn-group">
                                            <button type="button"
                                                class="btn btn-sm btn-outline-secondary">Visualizar</button>
                                            <button type="button"
                                                class="btn btn-sm btn-outline-secondary">Comentar</button>
                                        </div>
                                        <small class="text-muted">17 jul às 10:23</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card shadow-sm">
                                <img src="/images/noticias/noticia3.jpg" width="100%" height="225">
                                <div class="card-body">
                                    <p class="card-text">DAE-VG e SMECEL-VG premiam ganhadores do 3º Concurso de Educação Ambiental</p>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="btn-group">
                                            <button type="button"
                                                class="btn btn-sm btn-outline-secondary">Visualizar</button>
                                            <button type="button"
                                                class="btn btn-sm btn-outline-secondary">Comentar</button>
                                        </div>
                                        <small class="text-muted">7 jun às 12:20</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card shadow-sm">
                                <img src="/images/noticias/noticia5.jpg" width="100%" height="225">
                                <div class="card-body">
                                    <p class="card-text">Moradores de Jardim Petrópolis, Jardim Niterói e Andaraí devem regularizar cadastro junto ao DAE-VG</p>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="btn-group">
                                            <button type="button"
                                                class="btn btn-sm btn-outline-secondary">Visualizar</button>
                                            <button type="button"
                                                class="btn btn-sm btn-outline-secondary">Comentar</button>
                                        </div>
                                        <small class="text-muted">27 jul às 11:22</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card shadow-sm">
                                <img src="/images/noticias/noticia4.jpg" width="100%" height="225">
                                <div class="card-body">
                                    <p class="card-text">Agência Nacional de Águas emite outorga da ETA Imigrantes</p>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="btn-group">
                                            <button type="button"
                                                class="btn btn-sm btn-outline-secondary">Visualizar</button>
                                            <button type="button"
                                                class="btn btn-sm btn-outline-secondary">Comentar</button>
                                        </div>
                                        <small class="text-muted">18 maio às 10:50</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </main>
    </section>
</body>
</html>