<!DOCTYPE html>
<html xmlns="https://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
	xmlns:layout="https://www.ultraq.net.nz/thymeleaf/layout" lang="pt-br">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>DAE Várzea Grande</title>

	<!-- Favicon -->
	<link rel="icon" type="image/png" href="/images/favicon.png" sizes="any">

	<!-- CSS -->
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">

	<!-- CSS Proprietário -->
	<link rel="stylesheet" type="text/css" href="/css/styles/style.css">
</head>

<body>
	<!-- Barra de Navegação -->
	<header th:replace="~{Header}"></header>

	<!--Conteúdo-->
	<section layout:fragment="conteudo">
	</section>

	<!-- Scripts -->
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/popper.min.js"></script>
	<script src="/js/jquery-3.7.1.min.js"></script>
	<script src="/js/sweetalert2.all.min.js"></script>
	<script src="/js/jquery.mask.js"></script>

	<!-- Scripts Proprietário -->
	<script type="module" src="/js/scripts/script.js"></script>
</body>

</html>